.uni .viewmore {
	font-size: 1.25em;
	font-weight: bold;
	position: absolute;
	right: 100px;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	background: #2CD74C;
	color: #FFF;
}

/*.uni .viewmore > a {
	color: #FFF;
}*/

.uni .viewmore:hover {
	color: #23527c;
}

.uni .remove {
	float: right;
	font-weight: bold;
	background: #DE4F4F;
	color: #FFF;
	font-size: 1em;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
}

.uni .remove > a {
	color: #FFF;
}

.uni .remove > a:hover {
	color: #23527c;
}

.uni .bookmarkPageForUni .grescore {
	color: #333;
	font-size: 1.25em;
	font-weight: 600;
	/*margin-right: 2em;*/
	/*position: absolute;*/
	margin-right: 4em;
	/*right: 100px;*/
}

.uni .bookmarkPageForUni .toeflscore {
	font-size: 1em;
	margin-right: 4em;
	vertical-align: top;
	color: #333;
}