<template name="bookmark">
	<div class="row">
		<div class="container">
			<ol class="searchboard">
				{{#if existsBookmark}}
					{{#each bookmark}}
						{{> univ3}}
					{{/each}}
				{{else}}
					<h1 style="padding: 20px; padding-top: 4vw;" align="center">
						No colleges currently bookmarked
					</h1>
				{{/if}}
			</ol>
		</div>
	</div>
	<div class="row">
		
	</div>
</template>

<template name="univ3">
  <li class="uni">
    <span class="name">{{name}}</span>
	<span class="metadata">
	    <span class="bookmarkPageForUni">
			<a href="college/{{_id}}"><span class="viewmore"><i class="fa fa-eye"></i></span></a>
			<span class="grescore">{{greCutoff}}</span>
			<span class="remove"><a href="#"><i class="fa fa-close"></i></a></span>
	  	</span>
    </span>
  </li>
</template>