<template name="moreCollegeDetails">
	<div class="panel panel-primary">
  		<div class="panel-heading">
    		<h3 class="panel-title">{{college.name}}</h3>
  		</div>
	  	<div class="panel-body">
			<table class="table">
			<br>
			<tbody>
				<tr>
				<td><div class="header">Location</div></td>
				<td><div class="divider">:</div></td>
				<td><div class="info">{{college.location}}</div></td>
				</tr>
				<tr>
				<td><div class="header">State</div></td>
				<td><div class="divider">:</div></td>
				<td><div class="info">{{college.state}}</div></td>
				</tr>
				<tr>
				<td><div class="header">GRE Cutoff</div></td>
				<td><div class="divider">:</div></td>
				<td><div class="info">{{college.greCutoff}}</div></td>
				</tr>
				<tr>
				<td><div class="header">Toefl Cutoff</div></td>
				<td><div class="divider">:</div></td>
				<td><div class="info">{{college.toeflCutoff}}</div></td>
				</tr>
				<tr>
				<td><div class="header">Deadline</div></td>
				<td><div class="divider">:</div></td>
				<td><div class="info">{{showDate college.deadLine}}</div></td>
				</tr>

			</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<a href="http://{{college.website}}" target="_blank">{{college.website}}</a>
		<a href="college/{{college._id}}" class="pull-right">VIEW MORE</a>
	</div>
</template>

<template name="collegeShow">
	<!-- {{name}}
	<br><br>
	<img src="{{imageLink}}" alt="{{name}}"> -->
	<div class="blended_grid">
		<div class="VMCollegePicture">
			<img src="{{imageLink}}" alt="{{name}}">
		</div>
		<div class="VMMaps">
			{{> googleMap name="exampleMap" options=exampleMapOptions}}
		</div>
		<div class="VMCollegeName">
			<div class="CollegeNameText" align="center" >
				<span class="CollegeNameTextSpan">
				{{name}}
				</span>
			</div>
		</div>
		<div class="VMLocation">
			<div class="CollegeNameText" align="center" >
				<span class="CollegeAddressTextSpan">
				{{location}}<br>{{state}}
				</span>
			</div>			
		</div>
		<div class="VMCollegeScores">
			<div class="VMscoreanddeadline">
				<span class="CollegeScoreTextSpan">
				GRE Score: {{greCutoff}}
				</span>
			</div>
			<div class="VMscoreanddeadline">
				<span class="CollegeScoreTextSpan">
				Toefl Score: {{toeflCutoff}}
				</span>
			</div>
			<div class="VMscoreanddeadline">
				<span class="CollegeScoreTextSpan">
				Application Deadline: {{showDate deadLine}}
				<!-- Application Deadline: {{showDate 'Thu Dec 15 2016 05:30:00 GMT+0530 (IST)'}} -->
				</span>
			</div>
		</div>


		{{#if courses}}
		<div class="VMCollegeCourses">
			<div class="panel panel-primary">
				
				<div class="row">
				<div class="container">
					<div class="panel-heading">
			    		<h3 class="panel-title">Courses Offered</h3>
			  		</div>
					<div class="panel-body">
						<table class="table table-hover" >
						<thead >
							<tr>
								<th>Course Name</th>
								<th>Ranking</th>
								<th>PhD</th>
							</tr>
						</thead>
						{{#each coursesOffered}}
						<tbody >
							<tr>
							<td>{{name}}</td>
							<td>{{ranking}}</td>
							<td>{{Phd}}</td>
							</tr>
							
						</tbody>
						{{/each}}
						</table>
					</div>
				</div>
				</div>
			</div>
		</div>
		{{/if}}

		
		<div class="VMCommentThread">
			
				{{#if bookmark}}
					<button id="unmark">Unmark</button>
				{{else}}			
					<button id="mark">Mark</button>
				{{/if}}
				<br>
				{{#if like}}
					<button id="unlike">Unlike</button>
				{{else}}			
					<button id="like">Like</button>
				{{/if}}
				<br>
				Likes - {{likeCount}}
		</div>
	</div>
</template>
