<template name="footer">
  <div id="footer">
    <div class="learn-more">
      <div class="container">
        <div class="row">
          <h4 align="center">Created by:</h4>
          <div class="col-md-4">
            <div class="text-left">
              <h3>Jaidev Anoop</h3>
              <p>Contact information: </p>
              <p>13CO124</p>
              <p>7204688232</p>
              <p><a href="mailto:jaidev.anoop@gmail.com">jaidev.anoop@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h3>Jaitirth A Jacob</h3>
                <p>Contact information: </p>
                <p>13CO125</p>
                <p>8050250001</p>
                <p><a href="mailto:jai1396@gmail.com">jai1396@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-right">
              <h3>Vidit Bhargava</h3>
                <p>Contact information: </p>
                <p>13CO151</p>
                <p>9663291311</p>
                <p><a href="mailto:jai1396@gmail.com">vidit.vineet@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
