<template name="footer">
  <div id="footer">
    <div class="learn-more">
      <div class="container">
        <div class="row">
          <h4 align="center">Created by:</h4>
          <div class="col-md-4">
            <div class="text-left">
              <h3>Jaidev Anoop</h3>
              <p>Contact information: </p>
              <p>13CO124</p>
              <p>7204688232</p>
              <p><a href="mailto:jaidev.anoop@gmail.com">jaidev.anoop@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h3>Jaitirth A Jacob</h3>
                <p>Contact information: </p>
                <p>13CO125</p>
                <p>8050250001</p>
                <p><a href="mailto:jai1396@gmail.com">jai1396@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-right">
              <h3>Vidit Bhargava</h3>
                <p>Contact information: </p>
                <p>13CO151</p>
                <p>9663291311</p>
                <p><a href="mailto:jai1396@gmail.com">vidit.vineet@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="newfooter">
  <footer class="footer-distributed">

      <div class="footer-left">

        <h3>GRE<span>p</span></h3>

        <p class="footer-links">
         <!--  <a href="#">Home</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a> -->
          <a href="#">Jaidev Anoop</a>
          ·
          <a href="#">Jaitirth Jacob</a>
          ·
          <a href="#">Vidit Bhargava</a>
          ·
        </p>

        <p class="footer-company-name">GREp &copy; 2015</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Mega Tower 1</span> NITK, Surathkal</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 966 3291311</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@grep_nitk.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About GREp</span>
          Helping Undergraduate students find the best next step.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>
</template>
