/** {
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: normal;
margin: 3em 0;
padding: 0;
}
*/
.searchboard {
	border-top: 1px solid #f1f1f1;
	counter-reset: ol-counter;
	list-style-type: none;
	margin: 0 0 1.5em;
	/*  padding: 20;*/
	/*min-height: 530px;*/
}

.uni {
	border-bottom: 1px solid #f1f1f1;
	cursor: pointer;
	padding: .5em 0;
	position: relative;
	overflow: hidden;
	transition: background 300ms ease-out;
	border-left: 4px solid white;
}

.uni:before {
	color: #999;
	content: counter(ol-counter);
	counter-increment: ol-counter;
	display: inline-block;
	font-weight: 300;
	line-height: 3em;
	text-align: center;
	vertical-align: middle;
	width: 3em;
}
/*
.uni .avatar {
display: inline-block;
margin-right: 1em;
vertical-align: middle;
}*/

.uni .name {
	/*display: inline-block;*/
	font-size: 1.25em;
	font-weight: 300;
	vertical-align: middle;
}

.uni .metadata {
	display: block;
	float: right;
	line-height: 2.4em;
	padding-right: 1.25em;
}

.uni .grescore {
	color: #333;
	font-size: 1.25em;
	font-weight: 600;
	/*margin-right: 2em;*/
	position: absolute;
	right: 100px;
}

.uni .toeflscore {
	font-size: 1em;
	margin-right: 1em;
	vertical-align: top;
	color: #333;
}

.uni.selected {
	background-color: #fefff4;
	border-left: #eb5f3a 4px solid;
}

.uni:hover {
	background-color: #fefff4;
}



/*.uni.selectedUni {
background-color: #fefff4;
border-left: #eb5f3a 4px solid;
}*/

.easy-search-input {
	width: 600px;
	height: 40px;
	font-size: 15px;
	padding: 5px 12px;
}

.examples, .count-results {
	color: grey;
}

.examples {
	font-style: italic;
}

.pagination {
	list-style-type: none;
	text-align: center;
	font-size: 17px;
	padding: 10px 0 0 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:400px;
}

#slider {
	margin: 0 auto 30px;
}
#value-input-low,
#value-input-high {
	width: 50%;
	float: left;
	display: block;
	text-align: center;
	margin: 0;
}

.pagination .page {
	display: inline-block;
	padding: 5px 0;
	margin: 0 2px;
	min-width: 25px;
	cursor: pointer;
}

.pagination .page.disabled {
	color: grey;
}

.pagination .page.current {
	color: black;
	font-weight: bold;
}

.buttonUS {
	border-top: 1px solid #949388;
	background: #6e6e6e;

	background-image: url(images/US.gif);
	padding: 20px 40px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #cccccc;
	font-size: 24px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	height: 160px;
	width: 210px;
}
.buttonUS:hover {
	border-top-color: #21211f;
	/*background: #21211f;*/
	color: #f5f0f5;
	opacity: 0.9;
	border-width: 3px;
}
.buttonUS:active {
	border-top-color: #454545;
	background: #454545;
}

.buttonOther {
	border-top: 1px solid #949388;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#545453), to(#6e6e6e));
	background: -webkit-linear-gradient(top, #545453, #6e6e6e);
	background: -moz-linear-gradient(top, #545453, #6e6e6e);
	background: -ms-linear-gradient(top, #545453, #6e6e6e);
	background: -o-linear-gradient(top, #545453, #6e6e6e);
	background-image: url(images/flag_world.png);
	padding: 20px 40px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #000000;
	font-size: 24px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	height: 160px;
	width: 210px;
}
.buttonOther:hover {
	border-top-color: #21211f;
	opacity: 0.9;
	border-width: 3px;
	color: #000000;
}
.buttonOther:active {
	border-top-color: #454545;
	background: #454545;
}

.bg-custom{
	/*background-color: #9fd6f9;*/
	text-align: left;
    font: bold 16px sans-serif;
    margin: 10px;
    font-size: 30px;
}

/*.bg-custom > h1{
	background-color: #9fd6f9;
    font: bold 16px sans-serif;
    margin: 10px;
    font-size: 45px;
}*/

/*.bg-custom1 {
    background-color: #9fd6f9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}*/