<template name="Search">
	<div class="container">
		<br><br>
		{{> searchboard}}
	</div>
	{{#if details}}
	<div class="row">
		<div class="container">
			<div class="col-sm-12">
				<br>
				{{> moreCollegeDetails}}
				<br>
			</div>
		</div>
	</div>
	{{/if}}
</template>

<template name="Homepage">
	<div class="jumbotron">
		<div class="container">
			<div class="needsVis">
				<center>
					<h1>GREp</h1>
					<p>Find a college</p>

				</center>
			</div>
		</div>
	</div>

	<div class="row">
		<br><br>

		<div class="container">
			<div class="col-sm-6">
				<div align="center">
					<button class="buttonUS" id="us"></button>
				</div>
			</div>
			<div class="col-sm-6">
				<div align="center">
					<button class="buttonOther" id="other">Other</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="AdvSearch">
	<br>
	<div class="container">
		<div class="row row-centered">
			<div class="col-sm-6 col-centered col-fixed">
				<h4 align="center">GRE Score</h4>
					<div id="sliderGRE">
					</div>
					<br>
					<div align="center">
						<input id="GRE-value-input-low">
						<input id="GRE-value-input-high">
					</div>
			</div>
			<div class="col-sm-6 col-centered col-fixed">
				<h4 align="center">Toefl Score</h4>
					<div id="sliderToefl">
					</div>
					<br>
					<div align="center">
						<input id="Toefl-value-input-low">
						<input id="Toefl-value-input-high">
					</div>
			</div>
		</div>
		{{> primaryCheckbox}}
		{{> secondaryCheckbox}}
	</div>
	<br>
	<div class="row">
		<div class="container">
			<ol class="searchboard">
      {{#each filterGRE}}
        {{> univ2}}
      {{/each}}
      </ol>
		</div>
	</div>
    {{#if details}}
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <br>
        {{> moreCollegeDetails}}
        <br>
      </div>
    </div>
  </div>
  {{/if}}

</template>

<template name="secondaryCheckbox">
	<div class="row row-centered">
		<div class="checkbox">
			{{#each departmentOpt}}
				<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox2" value="{{this}}"> {{this}}
				</label>
			{{/each}}
		</div>
	</div>
</template>

<template name="primaryCheckbox">
	<div class="row row-centered">
		<div class="checkbox">
			{{#each countryOpt}}
				<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox1" value="{{country}}"> {{country}}
				</label>
			{{/each}}
		</div>
	</div>
</template>

<template name="searchboard">
	<div align="center">
		{{> EasySearch.Input  index=index attributes=inputAttributes}}

	</div>
	{{#EasySearch.IfInputEmpty index=index }}
	<div class="padded examples"><br>For example "Mass"</div>
	{{else}}
	<br><br>
	{{#if resultsCount}}
	<div class="padded count-results">{{resultsCount}} results found.</div>
	{{/if}}
	{{/EasySearch.IfInputEmpty}}

{{#EasySearch.IfSearching index=index }}
<div>Searching</div>
{{/EasySearch.IfSearching }}

<ol class="searchboard">
	{{#EasySearch.Each index=index }}
	{{> univ}}
	{{/EasySearch.Each}}
</ol>

<!-- adsads -->

{{#EasySearch.IfNoResults index=index }}
<div class="padded no-results">No results found</div>

{{/EasySearch.IfNoResults }}

{{> EasySearch.Pagination index=index maxPages=10 }}
{{! > EasySearch.LoadMore index=index }}

{{#if showMore}}
{{> EasySearch.Input name="mini-index" index=index attributes=inputAttributes }}

<ul>
	{{#EasySearch.Each name="mini-index" index=index }}
	<li>{{name}}</li>
	{{/EasySearch.Each}}
</ul>
{{/if}}
</template>

<template name="univ">
	<li class="uni {{selected}}">
		<span class="name">{{name}}</span>
		<span class="metadata">
			<span class="grescore">{{greCutoff}}</span>
			<span class="toeflscore">{{toeflCutoff}}</span>
		</span>
	</li>
</template>

<template name="univ2">
  <li class="uni {{selected}}">
    <span class="name">{{name}}</span>
    <span class="metadata">
      <span class="grescore">{{greCutoff}}</span>
      <span class="toeflscore">{{toeflCutoff}}</span>
    </span>
  </li>
</template>
