<template name="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'Homepage'}}">GREp</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'main'}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="{{pathFor 'help'}}"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
          <li>{{> loginButtons}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><a href="{{pathFor 'profile'}}"><span class="glyphicon glyphicon-user"></span> {{user.email}}</a></li>
            {{#if admin}}
              <li><a href="/admin" class="admin"><span class="glyphicon glyphicon-lock"></span> Admin</a></li>
            {{/if}}
          {{else}}
            <li><a href="#">TEST</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>