<template name="profile">
	<div class="row">
		<div class="col-md-9">
			<div class="container">
				<div class="panel-heading">
		    		<h3 class="panel-title">Profile Information</h3>
		  		</div>
			  	<div class="panel-body">
					<table class="table">
					<br>
					<tbody>
						<tr>
						<td><div class="header">Name</div></td>
						<td><div class="divider">:</div></td>
						<td><div class="info">{{username}}</div></td>
						</tr>
						<tr>
						<td><div class="header">Email</div></td>
						<td><div class="divider">:</div></td>
						<td><div class="info">{{email}}</div></td>
						</tr>
						<tr>
						<td><div class="header">GRE Score</div></td>
						<td><div class="divider">:</div></td>
						<td><div class="info">{{profile.gre}}</div></td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-9">
			<div class="btn-group-vertical" role="group" aria-label="...">
				<a href="/bookmark">
					<button type="button" class="btn btn-danger">
						<i class="fa fa-bookmark"></i>&nbsp;Bookmark
					</button>
				</a>
				<a href={{pathFor 'profileEdit' data=currentUser}}>
					<button type="button" class="btn btn-warning">
						<i class="fa fa-pencil-square-o"></i>&nbsp;Edit
					</button>
				</a>
			</div>
		</div>
	</div>
</template>

<template name="profileEdit">
	<h1>Still have to make edit form</h1>
</template>
